
<div class="panel panel-default">
    <div class="panel-heading">
        {{pageTitle}}
        <div class="row">
            <div class="col-md-6">
                <h4>Filter by: {{listFilter}}</h4>
                <input type="text" [(ngModel)]='listFilter'/>
            </div>
        </div>
    </div>

    <table *ngIf='enfants.length' class="table">
        <thead>
            <th>
                <button class="btn btn-primary" (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
            </th>
            <th>Full Name</th>
            <th>Classroom</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr *ngFor='let enfant of enfants'>
                <td>
                    <img *ngIf='showImage' src='{{enfant.pictureUrl}}' width="50" height="40" />
                </td>
                <td>{{enfant.enfantName}}</td>
                <td>{{enfant.enfantAge}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
 