
<h3>Login</h3>
<form #LoginComponent="ngForm" (ngSubmit)="CanLogin(LoginComponent)">
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="username">Username</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="username" id="username" [(ngModel)]='username'/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="password">Password</label>
        </div>
        <div class="col-md-8">
            <input type="text" name="password" id="password" [(ngModel)]='password'/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>

